<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="server" value="localhost" />
    <add key="dbname" value="myshop" />
  </appSettings>
  <connectionStrings><add name="MyShopEntities" connectionString="metadata=res://*/MyShop.csdl|res://*/MyShop.ssdl|res://*/MyShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=MyShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="MyShopEntities1" connectionString="metadata=res://*/MyShop.csdl|res://*/MyShop.ssdl|res://*/MyShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=MyShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>